
.container1 {
    position: relative;
}
  
.step{
    margin: 5px auto;
    padding: 20px ;
    
}
.step1{
    margin: 10px 5px 5px 5px;
    padding: 20px ;
    text-align: center;
}


@media screen and (max-width: 540px) {
    .content{
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
        
    }
}


@media screen and (min-width: 540px) and (max-width: 780px) {
    .content{
        width: 80%;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
        
    }
}

@media screen and (min-width: 780px)  {
    .content{
        width: 50%;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
        
    }
}



.icon1{
    height: 100px;
    width: 100px;
}

.overlay{
    position: relative;
}
    .bgrd{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
      
    }

  .main-text
{
    position: absolute;
    top: 30%;
    width: 96.66666666666666%;
    color:black;
}