img{
    max-width: 100%;
    height: auto;
    opacity: 0.8; 
}
.container1 {
    position: relative;
}
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.step{
    margin: 5px auto;
    padding: 20px ;
    
}
.step1{
    margin: 350px 5px 5px 5px;
    padding: 20px ;
    text-align: center;
}


@media screen and (max-width: 540px) {
    .content{
        width: 100%;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        
    }
}


@media screen and (min-width: 540px) and (max-width: 780px) {
    .content{
        width: 80%;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        
    }
}

@media screen and (min-width: 780px)  {
    .content{
        width: 50%;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        
    }
}



.icon{
    height: 100px;
    width: 100px;
}
